#canvas_container {
  display: flex;
  justify-content: center;
}
canvas {
  border: 1px solid lightgray;
  position: absolute;
  padding: 20px;
  background: white;
  filter: brightness(1.5);

  &#canvasRight {
    // left: 200px;
  }

  &#canvasLeft {
    z-index: 10;
    opacity: 0.5;
  }
}

#form {
  margin: 10px;
  display: flex;
  align-items: center;

  .inputField {
    margin: 10px;
    display: flex;
    align-items: center;

    div {
      margin: 0 10px;
      font-weight: bold;
    }

    select {
      padding: 5px;
    }
  }

  .actions {
    button {
      padding: 5px 10px;
      width: 70px;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid #dfdfdf;
      font-weight: bold;
      background: white;
    }
    button:first-child {
      margin-right: 10px;
    }
  }
}


